header {
    height: 86px;
    background-color: #cfcfcf;
    display: flex;
    justify-content: space-between;
    align-items : center;
}

nav {
    background-color: #e2e2e2;
}
.nav-box01 {
    font-weight: 92px; height: 12px;
    border-radius: 2px;
    background-color: #cfcfcf;

}
h1 {
    background-color: #f7f5f5;
}
.use-box {
    background-color: beige;
}
main {
    height: 400vh;
    background-color: aliceblue;
}
footer {
    height: 68px;
    background-color: darkgrey;
}