
.bestsellers-section {
    /* width: 1920px; 가로 스크롤 활성화 때문에 사용x */
    padding: 124px 80px;
}
.ul-nav {
    padding-top: 65px; padding-bottom: 65px;
    display: flex; justify-content: space-between;
    border-top: 1px solid #E1DED9;
}
.section-title {
    color: #333;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px; /* 120% */
}
.view-all {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.amp-swiper {
    display: flex;
    gap: 40px;
}
.best-product-list {
    flex-grow: 1; display: flex;
    flex-direction: column;
    flex-basis: 0;
}

.best-img-box {
    height: 410px;
    background-color: #ebebeb;
}

/* >(자식 선택자) : 부모와 자식관계를 선택하는 선택자 */
.best-discount-title >a {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
    padding-top: 40px; padding-bottom: 42px;
    
}
.best-discount-subhead {
    padding-bottom: 40px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
    border-bottom: 1px solid #E1DED9;
}
.best-price-capacity {
    padding-top: 14px; padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
.best-price {
    color: #222;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px; /* 106.25% */
}
.best-capacity {
    /* span은 기본적으로 inline을 가지고 있기 때문에 2.3 언저리 여백을 가지고 있기 때문에 
    -> flex-item으로 만들어서 여백을 없애고 gap을 적용하는 방향이 가장 좋다 */
    /* inline : 기본적으로 디자인에 적용되면 안돼는 여백을 가지고 있다 */
    display: flex; gap: 16px;
}

.best-capacity-30ml {
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px; /* 121.429% */
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.best-capacity-60ml {
    color: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px; /* 121.429% */
}
.best-pro-btn {
    /* 피그마에서 style 코드 참고0/ layout 참고 x */
    background: #FFF;
    flex-grow: 1;
    padding-top: 12px; padding-bottom: 12px;
    color: #212529;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px; /* 150% */
    letter-spacing: 0.06px;

    /* text-transform: capitalize;
    font-family: Raleway;
    font-style: normal; */
    transition: 0.3s;
    border: 1px solid #E1DED9;
    background: #FFF;

}
.best-pro-btn:hover {
    background-color: #212529;
    color: #E1DED9;
}