header {
    border-bottom: 2px solid #e3e3e3;
    height: 86px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;
    gap: 20px;

}
.sct01-lnav01 {
    background-color: #000;
    width: 92px;
    height: 12px;
}
.sct01-lnav02 {
    background-color: #000;
    width: 112px;
    height: 12px;
}
.sct01-lnav03 {
    background-color: #000;
    width: 148px;
    height: 12px;
}
.sct01-lnav04 {
    background-color: #000;
    width: 72px;
    height: 12px;
}
.sct01-lnav05 {
    background-color: #000;
    width: 88px;
    height: 12px;
}
h1 {
    width: 228px;
    height: 25px;
    align-items: center;
    background-color: #000;
}
.use-box {
     display: flex;
    align-items: center;
    gap: 20px;
}
.sct02-rnav01 {
    width: 68px;
    height: 12px;
    background-color: #000;
}
.sct02-rnav02 {
    width: 92px;
    height: 12px;
    background-color: #000;
}
.sct02-rnav03 {
    width: 58px;
    height: 12px;
    background-color: #000;
}
.sct02-rnav04 {
    width: 84px;
    height: 12px;
    background-color: #000;
}
.sct02-rnav05 {
    width: 36px;
    height: 12px;
    background-color: #000;
}
main {
    border-bottom: 2px dashed #e3e3e3;
    height: 2526px;
    padding: 64px;
}
.sct01, .sct02, .sct03, .sct04 {
    background-color: #dddddd;
    border-bottom: 1px solid #000;
}
.sct-01 {
    display: flex;
    gap: 20px;
}
.sct01-left {
    width: 1100px; height: 610px;
    background-color: yellowgreen;
}
.sct02-right {
     background-color: aquamarine;
     flex-grow: 1;
     display: flex;
     flex-direction: column;
     gap: 20px;
}
.sct01-rbox01 {
    background-color: rgb(215, 227, 250);
    flex-grow: 1;
}
.sct01-rbox02 {
    background-color: aliceblue;
    flex-grow: 1;
}
.sct-02 {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
}
.sct02-01 {
    background-color: #e3e3e3;
    width: 878px;
    height: 500px;
    flex-shrink: 0;
}
.sct02-02 {
    background-color: aliceblue;
    width: 878px;
    height: 500px;
    flex-shrink: 0;
}
.sct-03 {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* height: 600px; 
    align-content: space-between; */
    row-gap: 20px;
}
.sct03-li {
    border: 1px solid orange;
    width: 427px; height: 246px;
}
footer {
    border-bottom: 2px solid #e3e3e3;
    height: 68px;
}