/* 5단계 : figma의 autoladyout 기능과 가장 흡사한 코드 */
/* ★positon 속성 학습 후 다시 돌아와서 진행 예정, 이런 기능이 있구나 정도만 이해 하면 됨 */
.img-box04 {
    background-color: red;
    /* overflow: hidden; 을 적용한 태그의 크기를 넘어서면 아래 태그들은 전부 자른다 */
    overflow: hidden;
    width: 500px; height: 500px;
    position: relative;
}
.img-box04 > img {
    position: absolute;
    right: 0;
}