main {
     gap: 16px;
     display: flex;
}
.left-box01 {
    background-color: rgb(247, 251, 255);
    gap: 10px;
    padding: 10px;
    height: 370px;
    flex-direction: row;
}
.lbox01, .lbox02 {
     height: 350px;
     display: flex;
     padding: 10px;
     gap: 10px;
}
.lbox011 {
    background: #D2FDFF;
    width: 400px;
    flex-grow: 1;
}
.lbox012 {
     display: flex;
     align-items: flex-start;
     flex-direction: column;
     font-style: normal;
}
.middle-box02 {
     background-color: rgb(241, 255, 255);
     display: flex;
     padding: 0 20px;
     flex-direction: column ;
     height: 849px;
     /* background-color: #FFF; */
}
.mbox0201 {
     background-color: #BAFFD7;
     width: 392px;
     flex-grow: 1;
     gap: 10px;
}
.mbox0202 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
      flex-grow: 1;
}
