/* .header {
border: 1px solid #000;
} */
.popup::before {
    /* border: 1px solid red; */
    content: "";
    width: 30px;
}
.popup {
    background-color: #e8e8e8;
    padding-bottom: 12px; padding-top: 12px;
    color: #000;
    font-size: 10.3px;
    font-weight: 400;
    line-height: 15px;
    /* text-align: center; */
    padding-left: 12px 0; padding-right: 12px;
     display: flex;
     justify-content: space-between;
}
.popup::after {
    /* border: 1px solid red; */
    content: "x";
    font-size: 20px;
    cursor: pointer;
}
.top-bar {
    /* border: 1px solid red; */
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
}
.menu01 {
    /* border: 1px solid orange; */
    width: 388px;
}
.menu01-ul {
    display: flex;
    gap: 16px;
    align-self: center;
    height: 100%;
    /* background-color: greenyellow; */
}
.m01-item {
    font-size: 11px;
    line-height: 15px;
    color: #000;
    
}
.logo-box {
    /* border: 1px solid orange; */
    display: flex;
    align-items: center;
}
.user-box {
    /* border: 1px solid orange; */
    width: 388px;
    display: flex;
    justify-content: flex-end;
}
.user-box-ul {
    display: flex;
    align-items: center;
    gap: 16px;
    /* background-color: blueviolet; */
}
.user-item{
    color: #000;
    font-size: 11px;
    line-height: 15px;
}