.best-pro-btn {
    /* 피그마에서 style 코드 참고0/ layout 참고 x */
    border: 1px solid #E1DED9;
    background: #FFF;
    /* flex-grow 임의값 410px - 왜냐면 이거 버튼이 담긴 상자가 없으니까 */
    width: 410px;
    padding-top: 12px; padding-bottom: 12px;
    color: #212529;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px; /* 150% */
    letter-spacing: 0.06px;

    /* text-transform: capitalize;
    font-family: Raleway;
    font-style: normal; */
    transition: 0.3s;
}
.best-pro-btn:hover {
    background-color: #212529;
    color: #E1DED9;
}
.view-more {
    color: #333;
font-size: 16px;
font-weight: 600;
line-height: 24px; /* 150% */

/* font-family: Raleway;
font-style: normal; */
transition: 0.5s;
}
.view-more:hover {
    font-size: 20px;
    font-weight: 400;
    
    
}