header {
    border-bottom: 2px solid #e3e3e3;
    height: 86px;
}
.sct01-lnav01, .sct01-lnav02, .sct01-lnav03, .sct01-lnav04,.sct01-lnav05 {
    height: 12px;
}
.sct01-lnav01 {
    width: 92px;
    
}
main {
    border-bottom: 2px dashed #e3e3e3;
    height: 2526px;
    padding: 64px;
}
.sct-01, .sct-02, .sct-03, .sct-04 {
    background-color: #dddddd;
    border-bottom: 1px solid #000;
}
.sct-01 {
    display: flex;
    gap: 20px;                     ;
}
.sct01-left {
    width: 1100px; height: 610px;
    background-color: yellow;
}
.sct01-right {
    background-color: green;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 .sct01-rbox01 {
    background-color: #cbffcb;
    flex-grow: 1;
 }
 .sct01-rbox02 {
    background-color: #cbffcb;
    flex-grow: 1;
 }
 
footer {
    border-bottom: 2px solid #e3e3e3;
    height: 68px;
}