.img-box03 {
    background-color: red;
}
/* 4단계 : 종횡비 활성화 + 이미지 커스텀 사이즈 유지 + 이미지 중심 활성화 */
/* 3단계 문제를 4단계 방법으로 해결★ */
.img-box03 > img {
    width: 500px; height: 500px;
    /* object-fit: cover;피그마에서 이미지 넣으면 나머지 잘리는 것과 동일 */
    object-fit: cover;
}