.popup::before {
    content: "";
    width: 50px;
}
.popup {
    border: 1px solid orange; 
    text-align: center;
    background-color: #e8e8e8;
    padding-left: 20px; padding-right: 20px;
    padding-top: 12px; padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
}
.popup::after {
    content: "X";
    width: 50px;
    font-size: 20px;
    text-align: right;
    cursor: pointer;
}
.top-bar {
    padding: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    position: relative;
    transition: 0.5s;
    border: 1px solid red;
}
.top-bar:hover {
    padding-top: calc(10px + 8px);
    padding-bottom: calc(10px + 8px);  
}
.menu01 {
    width: 388px;
}
.menu01-ul {
    border: 1px solid orange;
    display: flex;
    align-items: center;
    gap: 16px;
    
}
.logo-box {
    border: 1px solid orange;

}
.user-menu {
    /* display: flex; */
    width: 388px;
}
.user-menu-ul {
    border: 1px solid orange;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
} 