h1 {
    font-weight: 700; font-size: 28px;
    margin-top: 20px;
}
h2 {
    font-weight: 700; font-size: 21px;
    margin-top: 20px;
}
span {
    background-color: pink;
}
/* 
[h태그=제목태그]
1. h1태그는 html문서 내에서 딱 1번만 사용할 수 있다.(보통 logo-box로 사용)
2.반드시 한번은 h1부터 h6까지 순서대로 사용해야된다.
ex) html상단에 h2사용 -> html 하단에 h3사용 o 
ex) html상단에 h1사용 후 h2사용x -> html 하단에 h3사용x
(올바른 코드)
    <h1></h1>
    <h2></h2>
    <h3></h3>
(틀린 코드 - 웹표준 틀린것)
    <h1></h1>
    <h3></h3>
3. h1태그 제외 h2~h3까지 여러번 사용 가능
*/