body {
    magin: 0; padding: 0;
}
p { magin: 0;}
a{
    color: inherit;
    text-decoration: none;
}
button {
    background-color: transparent;
    padding: auto;
    border: none;
    outline: none;
}
