 header {
    border: 1px soild red;
 }
 main {
    border: 1px soild red;
 }
 .bestellers-section {
    border: 5px solid orange;
    padding: 124px 80px;
 }
 .ul-nav {
    border: 1px solid yellow;
    padding-top: 65px; padding-bottom: 65px;
    display: flex; 
    justify-content: space-between;
 }
 .section-title {
    border: 1px solid yellowgreen;
 }
 .view-all {
    border: 1px solid yellowgreen;
 }
 .amp-swiper {
    border: 1px solid green;
    display: flex;
 }
 .best-product-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
 }
 .best-product-list01 { border: 3px solid purple;}
.best-product-list02 { border: 3px solid rgb(174, 2, 174);}
.best-product-list03 { border: 3px solid rgb(255, 0, 255);}
.best-product-list04 { border: 3px solid rgb(255, 34, 255);}
 .product-img {
    border: 1px solid blue;
    height: 410px;
    background-color: #ebebeb;
}
.best-discount-title {
    border: 1px solid blue;
    padding-top: 40px; padding-bottom: 42px;
}
.best-discount-subhead {
    border: 1px solid blue;
    padding-bottom: 40px;
}
.best-price-capacity {
    border: 1px solid blue;
    padding-top: 14px; padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
.best-price {
    border: 1px solid blue;
}
.best-capacity {
    border: 1px solid blue;
}
.best-capacity-30ml {
    border: 1px solid blue;   
}
.best-capacity-60ml {
    border: 1px solid blue;
}
footer {
    border: 1px soild red;
 }
